name: Test & Release Module
on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # important so git tags are available

      - uses: actions/setup-go@v4
        with:
          go-version: 1.25

      - uses: hashicorp/setup-terraform@v3

      - name: Install TFLint
        run: |
          curl -s https://raw.githubusercontent.com/terraform-linters/tflint/master/install_linux.sh | bash
          tflint --version

      - name: Install Checkov
        run: |
          python3 -m pip install --upgrade pip
          pip install checkov
          checkov --version

      - name: Terraform Format Check
        run: terraform fmt -check

      - name: Terraform Init&Validate
        run: |
          terraform init
          terraform validate

      - name: Run TFLint
        run: tflint --disable-rule=terraform_required_providers --disable-rule=terraform_required_version

      - name: Run Checkov
        run: checkov -d . --skip-path .github

      - name: Run Terratest
        run: |
          export GOPATH=$(mktemp -d)
          cd $GOPATH
          go mod init temp
          go get github.com/gruntwork-io/terratest/modules/terraform
          cp -r $GITHUB_WORKSPACE/tests .
          go test -v ./tests

      - name: Get last tag
        id: get_tag
        run: |
          TAG=$(git describe --tags --abbrev=0 || echo "v0.0.0")
          echo "last_tag=$TAG" >> $GITHUB_OUTPUT

      # - name: Calculate next tag
      #   id: bump
      #   run: |
      #     LAST=${{ steps.get_tag.outputs.last_tag }}
      #     IFS='.' read -r MAJOR MINOR PATCH <<< "${LAST#v}"
      #     PATCH=$((PATCH+1))
      #     NEXT="v$MAJOR.$MINOR.$PATCH"
      #     echo "next_tag=$NEXT" >> $GITHUB_OUTPUT

      # - name: Create new tag
      #   run: |
      #     git tag ${{ steps.bump.outputs.next_tag }}
      #     git push origin ${{ steps.bump.outputs.next_tag }}

      # - name: Publish Release
      #   uses: softprops/action-gh-release@v2
      #   with:
      #     tag_name: ${{ steps.bump.outputs.next_tag }}
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
