name: Test & Release Module

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  call-template:
    uses: AnriB/templates/.github/workflows/terraform/tf-module-tag-template.yml@main